[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
instagrapi = "*"
moviepy = "*"
psycopg2-binary = "*"
schedule = "*"
python-dotenv = "*"
discord-webhook = "*"

[dev-packages]

[requires]
python_version = "3.10"
